$primary-color: #2ba0db; // 全局主色（蓝色）
$color-green: #54d19d; // 绿色
$color-green-active: #37be86; // 被选中的绿色
$color-purple: #8751de; // 紫色
$color-purple-active: #6d39c2; // 被选中的紫色
$color-orange: #f28f1d; // 橙色
$color-orange-active: #db720a; // 被选中的橙色
$color-success: #f28f1d; // 成功色
$color-error: #ed4747; // 错误色
$color-warning: #da5105; // 警告色
$color-notice: #f5cb9b; // 提示色
$font-size-base: 16px; // 主字号
$txt-color1: #333; // 字体色1
$txt-color2: #666; // 字体色2
$txt-color3: #999; // 字体色3
$txt-color4: #ccc; // 字体色4
$neutral-color1: #e0e0e0; // 中性色1
$neutral-color2: #ededed; // 中性色2
$neutral-color3: #f2f2f2; // 中性色3
$border-radius-base: 6px; // 组件/浮层圆角
$box-shadow-base: 0 4px 8px rgba(0, 0, 0, 0.12); // 浮层阴影
